extends layout

block content
  .container-fluid
    br
    .row.justify-content-center
      h1.col-lg-5.col-md-6 Login
    .row.justify-content-center
      .col.col-lg-5.col-md-6
        form(role='form', action="/login",method="post")
          .form-group
              input.form-control(type='text', name="username", placeholder='Enter Username')
          .form-group
            input.form-control(type='password', name="password", placeholder='Password')
          .form-row.align-items-right
            button.btn.btn-primary(type='submit') Submit
            &nbsp;
            a(href='/')
              button.btn.btn-default(type="button") Cancel
